.title{
    font-size: 35px;
    margin-bottom: 15px;
}

.desc{
    font-size: 20px;
}

.imageContainer{
    position: relative;
    margin: 20px 0;
    border-radius: 12px;
    overflow: hidden;
}
.image{
    margin: 0 auto;
}

.auther{
    position: absolute;
    background-color: var(--color-primary);
    color:#111;
    padding: 7px 12px;
    bottom: 0;
    right: 0;
}

.content{
    font-size: 18px;
    line-height: 22px;
    columns: 2;
    text-align: justify;
}